@import 'reset.scss';
.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  line-height: 23px;
  & > * { grid-column: 2 / -2; }
  header {
    grid-column: 1 / -1;
    background-color: #fff;
    height: 150px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
  h1 {
      font-size: 3.5em;
    }
  }
  footer {
    height: 50px;
    display: flex;
    justify-content: flex-end;
  }
}
